h1 {
  color: royalblue;
}

body {
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
  display: block;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.slider {
  height: 720px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
}

.slider .slide {
  width: 100%;
  height: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: white;
}

.slider .slide:nth-child(1) {
  background-color: red;
  z-index: 1;
}

.slider .slide:nth-child(2) {
  background-color: orange;
}

.slider .slide:nth-child(3) {
  background-color: yellowgreen;
}

.slider .slide:nth-child(4) {
  background-color: green;
}

.slider .slide:nth-child(5) {
  background-color: blue;
}

.showing {
  opacity: 1 !important;
  z-index: 1 !important;
  -webkit-transform: none;
          transform: none;
}

.top-navigation {
  position: fixed;
  top: 0;
  z-index: 9;
  margin: 1px;
  width: 100%;
  border: 1px solid white;
}

.top-navigation .inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.top-navigation .logo {
  -webkit-box-flex: 0.1;
      -ms-flex-positive: 0.1;
          flex-grow: 0.1;
}

.top-navigation .env-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0.1;
      -ms-flex-positive: 0.1;
          flex-grow: 0.1;
}

.top-navigation .search-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0.9;
      -ms-flex-positive: 0.9;
          flex-grow: 0.9;
}

.top-navigation .search-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.top-navigation .search-menu li #search-icon {
  position: absolute;
  border: 0;
  background-color: transparent;
}

.top-navigation .search-menu li #search-icon:hover ~ input {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.top-navigation .search-menu li #search-icon svg {
  fill: white;
  width: 18px;
  cursor: pointer;
}

.top-navigation .search-menu li input {
  width: 300px;
  padding: 0.85em 1rem;
  position: absolute;
  border-radius: 20px;
  background-color: transparent;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.top-navigation .search-menu li input::-webkit-input-placeholder {
  color: teal;
  opacity: 0.8;
}

.top-navigation .search-menu li input:-ms-input-placeholder {
  color: teal;
  opacity: 0.8;
}

.top-navigation .search-menu li input::-ms-input-placeholder {
  color: teal;
  opacity: 0.8;
}

.top-navigation .search-menu li input::placeholder {
  color: teal;
  opacity: 0.8;
}

.top-navigation .search-menu li input:hover {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  background-color: white;
}

.top-navigation .search-menu li input:focus {
  outline: none;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  background-color: white;
}

.top-navigation .profile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0.1;
      -ms-flex-positive: 0.1;
          flex-grow: 0.1;
}

.section {
  margin: 1rem 0;
}

.button--wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  right: 0;
  bottom: 11rem;
  z-index: 20;
}

.button--wrapper button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.button--wrapper button svg {
  font-size: 18px;
  fill: white;
}
/*# sourceMappingURL=main.css.map */