.subpage--wrapper {
  padding: 4rem 2rem;
}

.subpage--greeting {
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  padding: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  color: #b12;
  -webkit-text-fill-color: transparent;
  animation: hue 10s infinite linear;
}

.series--banner--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
}

.series--image--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  transition: 2s;
  .series--poster--box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    .series--banner--description {
      flex-basis: 0;
      flex-grow: 0.6;
      h1 {
        font-size: 36px;
        color: white;
        font-weight: bold;
      }
      p {
        padding: 0.5rem 0;
        font-weight: bold;
      }
    }
    img {
      display: block;
      flex-basis: 1;
      flex-grow: 1;
      max-width: 360px;
      border-radius: 5px;
      transition: 2s;
    }
  }
}

.series--slide--wrapper {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  
  .series--card {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    
    .series--title {
      width: 240px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
    }
    .series--release--year {
    }
    .series--image--box {
        overflow: hidden;
        border-radius: 20px;
      img {
        display: block;
        height: 200px;
        width: 240px;
        border-radius: 20px;
        transition: .3s;
        &:hover{
            transform: scale(1.1);
        }
      }
    }
  }
}
.series--slide--button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
    top:-110px;
    left:0;
    .slide--prev,
    .slide--next{
      top:-20px;
      left:0;
        position:relative;
        padding: 1rem;
        z-index: 2;
        cursor: pointer;
        
        svg{
            width: 34px;
            position:absolute;
            fill: rgba(237, 222, 175,0.5);
            
            left: 0;
            transition: .5s;
          &:hover{
            fill: #fff;
          }
        }
    }
}


@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
