.subpage--wrapper {
    padding: 4rem 2rem;
}

.subpage--greeting {
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    padding: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    color: #b12;
    -webkit-text-fill-color: transparent;
    animation: hue 10s infinite linear;
}

.series--banner--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.series--image--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    transition: 2s;
    .series--image--box {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        .series--banner--description {
            flex-basis: 0;
            flex-grow: 0.6;
            h1 {
                font-size: 36px;
                color: white;
                font-weight: bold;
            }
            p {
                padding: 0.5rem 0;
                font-weight: bold;
            }
        }
        img {
            display: block;
            flex-basis: 1;
            flex-grow: 1;
            max-width: 360px;
            border-radius: 5px;
            transition: 2s;
        }
    }
}

@keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}